<h1>Advisor Search Page</h1><br><br>
<div class="row">
	<div class='col-xs-4 col-sm-offset-4'>
		<div ng-cloak class="question">
			<button ng-show="advisorSearchCtrl.arrayPosition > 0" ng-click="advisorSearchCtrl.previous()" class="previous" type="button">Previous</button>
			<button ng-show="advisorSearchCtrl.arrayPosition < advisorSearchCtrl.questions.length - 1" ng-click="advisorSearchCtrl.next()" class="next" type="button">Next</button>
			<h4><b>{{advisorSearchCtrl.arrayPosition + 1}}: {{advisorSearchCtrl.currentQuestion.question}}</b></h4>
			<form class="answers" ng-repeat="answer in advisorSearchCtrl.currentQuestion.answers">
				<label>
					<input type="radio"> {{answer}}
				</label>
				<br>
			</form><br>
		</div>
	</div>
</div>
<div class="shell">
	<div class="row">
		<div class='col-xs-6 col-sm-offset-3'>
			<button class="btn-block home_button" ui-sref="main">Return to home page.</button>
		</div>
	</div><br>
</div>